body{
    background-color: #cfa5eb;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #d2e4a2;
    text-align: center;
    font-size: 35px;
}
p{
    color: #e30000;
}
.spider-man{
    color: #7528d3;
    font-size: 20px;
}
.like{
    color: #299c19;
    font-size: 20px;
    border: 2px solid #1ed47f;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.card{
    background-color: rgba(49, 11, 239, 0.878);
    border-radius: -60px;
    padding: 10px;
    box-shadow: 5px 6px 13px rgba(241, 62, 62, 0.946);
    margin: 30px;
}